@using AHP.Web.Helpers
@model AHP.Web.ViewModel.PasswordResetViewModel

@{
    ViewBag.Title = "Active Analytics - Change your Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AHP.Web.Controllers.BaseController controller = ViewContext.Controller as AHP.Web.Controllers.BaseController;
    Identity identity = null;
    if (controller != null)
    {
        identity = controller.Identity;
    }
}

<div class="change_password_panel">
    @using (Html.BeginForm("ChangePassword", "SetupUser", FormMethod.Post, htmlAttributes: new { autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal padbot">
            <div class="form-group">
                <span>
                    <strong>Please change your password now</strong><br />
                    @if (identity == null || identity.MustChangePassword)
                    {
                        <text>You have been assigned a temporary password or your password has expired. You must change it.</text>
                    }
                    else if(identity != null && identity.PasswordExpired)
                    {
                        <span style="color:red">
                            You have been assigned a temporary password or your password has expired. You must change it.
                        </span>
                    }                    
                </span>
            </div>
            @Html.Partial("~/Views/Shared/_PasswordResetForm.cshtml", Model)
        </div>
    }
</div>