@{
    ViewBag.Title = "Reset Password Successfull - Active Analytics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="accountrecoverypanel">
    <h3>Password Reset Successfull</h3>
    <div class="notessection">
        <p>
            Your password has been reset successfully. You will receive an email shortly with instructions on how to login.
        </p>
    </div>
</div>