@model AHP.Web.ViewModel.PasswordResetViewModel
@{
    ViewBag.Title = "Change My Password - Active Analytics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="change_password_panel">
    @using (Html.BeginForm("ChangePassword", "Customer", FormMethod.Post, htmlAttributes: new { autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal padbot">
            <div class="form-group">
                <span>
                    <strong>Change your Password</strong><br />
                    Please enter your current password and create a new password.
                </span>
            </div>
            @Html.Partial("~/Views/Shared/_PasswordResetForm.cshtml", Model)
        </div>
    }
</div>