<log4net>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\ActiveAnalyticsLogFiles\PortalLogs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="3" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="DATE:%date%newlineLOG LEVEL:%-5level%newlineLOGGER NAME:%logger%newlineMessage:%message%newline%newline" />
    </layout>
  </appender>
  <!-- Set root logger level to DEBUG and its only appender to LogFileAppender -->
  <root>
    <level value="ALL" />
    <appender-ref ref="LogFileAppender" />
  </root>
  <!-- Print only messages of level WARN or above in the AHP.Web.Api.Controller namespace -->
  <logger name="AHP.Web.Controllers">
    <level value="INFO" />
  </logger>
</log4net>