<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit:
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Mail Sending Parameters-->
    <add key="smtpServer" value="smtp.ahm.corp" />
    <add key="EmailFROM" value="TAC_Business_Applications@activehealth.net" />
    <add key="EmailTO" value="EVPerrella@activehealth.net" />
    <add key="EmailCC" value="phurwitz@activehealth.net" />
    <add key="EmailSUBJECT" value="AHM Reporting Web Portal Support Submission" />
    <add key="BOBaseUrl" value="http://172.18.178.119:6405" />
    <add key="BOExternalAuth" value="secEnterprise" />
    <add key="BOInternalAuth" value="secWinAD" />
    <add key="LogonUrl" value="https://reporting.activehealth.com/" />
    <!--<add key="BIRepositoryDefaultReportsFolderId" value ="6019"/>-->
    <add key="BIRepositoryDefaultReportsFolderId" value="ATJ1.81m8YxFgEBZSHxa0G0" />
    <add key="BOBaseUrlWithHostName" value="http://azawvprderprt03.ahm.corp:6405" />
    <!-- LDAP domain for windows login-->
    <add key="Domain" value="ctl.intranet" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <add key="DefaultSchema" value="PORTAL_USER" />
    <add key="BOOpenDocUrl" value="http://172.18.178.119:8080/BOE/OpenDocument/opendoc/openDocument.jsp?sIDType=CUID&amp;iDocID="/>
    <add key="EnableFailSafe" value="true" />
    <!-- Subject of the Email that is sent to Product when new user is added -->
    <add key="NewUserSubject" value="Active Analytics Username Created"/>
    <add key="WelcomeSubject" value="Welcome to Active Analytics" />
    <add key="ResetPasswordSubject" value="Active Analytics Password Reset"/>
    <!--Comma separated list of emails to send email whenever new user is created-->
    <add key="WelcomeEmailTo" value="phurwitz@activehealth.net,BMccabe@activehealth.net"/>
    <add key="enableSwagger" value="false"/>
    <!--BO Rest SDK Url-->
    <add key="RestUrl" value="http://azawvprderprt03.ahm.corp:6405/biprws/"/>
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5.1" />

    <httpRuntime targetFramework="4.5.1" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <elmah>
    <!--
            The schemaOwner parameter is *optional*. Use this if the owner of the
            ELMAH package (pkg_elmah$error) is not the same user that you are 
            using to connect to the database.
    -->
    <security allowRemoteAccess="false" />
    <!-- Log All exceptions to C:\ActiveAnalyticsLogs\ folder -->
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="C:\ActiveAnalyticsLogs\" />
    <!--<errorLog type="Elmah.OracleErrorLog, Elmah" connectionStringName="DMT_DB" schemaOwner="" />-->
  </elmah>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SessionBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.18.178.119:8080/dswsbobje/services/Session/" binding="basicHttpBinding" bindingConfiguration="SessionBinding" contract="BOSession.SessionPort" name="BOSession" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>-->
    <providers>
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>-->
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>-->
  </entityFramework>
  <connectionStrings>
    <add name="ActiveAnalyticsOracleDatabaseContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=portal_user;Password=welcome1;Data Source=DMT_DB" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="DMT_DB" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=azaupprddmt-scan.activehealth.loc)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=azdmtp_bo)))" />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>